.navigation{
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #666;
}
.navigation a {
    margin-right: 20px;
    text-decoration: none;
}
.navigation a[href="#"]{
    cursor: default;
    color: gray;
}
.navigation span {
    margin-right: 10px;
    margin-left: -5px;
}
